* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #ff71b3;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5em;
}

header nav ul {
    list-style-type: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 15px;
}

form input, form textarea, form button {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #ff71b3;;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #ff71b3;;
}

#lista-ideias {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
